# yaml-language-server: $schema=../schemas/ma_poca_schema.json
behaviors:
  DungeonEscape:
    trainer_type: mir3poca
    hyperparameters:
      batch_size: 512
      buffer_size: 5120
      learning_rate: 0.0003
      beta: 0.01
      mi_beta: 0.01  # mutual information regularization parameter
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: constant
    network_settings:
      normalize: false
      hidden_units: 128
      num_layers: 2
      vis_encode_type: simple
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
    keep_checkpoints: 5
    max_steps: 20000000
    time_horizon: 10000000
    summary_freq: 60000
env_settings:
  seed: 1
  num_envs: 1
